* {
  font-family: 'Roboto Slab', serif;
  font-size: large;
}

p {
  line-height: 2;
}

footer {
  text-align: center;
}

.post-figure {
  text-align: center;
}

.post-image {
  max-height: 300px;
}

.nav-home {
  text-align: center;
}